* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header and nevigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0 200px;
    display: flex;
    /* flex mane dui dike jaya */
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* about section */
.about {
    text-align: center;
    background: #ecdbcf;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {

    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747;

}

/* what i do styles */
.what-i-do {
    margin-top: 20px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #ebd7d7;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume styles */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #a89485;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 10px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}
.info-details{
    padding-bottom: 20px;
}